* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden !important;
}
.ql-toolbar.ql-snow {
  background: #f5f5f5;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  border: none !important;
  height: 4rem;
  padding: 2rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.315);
}
.ql-container.ql-snow {
  width: 70%;
  margin: 10px auto 10px auto !important;
  height: 100vh !important;
}

.quill {
  background: #f5f5f5;
}
.ql-editor {
  height: 100vh !important;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.135);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.142);
}
